.thumbnailImg{
  width:100%;
  height:auto;
  margin-top:15px;
}

.col-sm-5{
  padding-right: 0 !important;
}

.carousel-pics{
  width:200px;
  height:auto;
}

.sizeLabels {
  padding-right:8px !important;
}

.sizeInput {
  margin-right: 2px !important;
}
